.app {
  border: 1px solid red;
  padding: 5px;
}

.add {
  border: 1px solid black;
  padding: 5px;
  display: flex;
}

.field {
  flex-grow: 1;
}

.button {
  height: 100%;
  margin-left: 5px;
}

.list {
  border: 1px solid green;
  padding: 5px;
}

.item {
  border: 1px solid orange;
  padding: 5px;
}
